#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
  keymap {
    compatible = "zmk,keymap";
    default_layer {
      display-name = "Base Layer";
      bindings = <
        &kp Q    &kp W    &kp F    &kp P    &kp B      &kp J    &kp L    &kp U    &kp Y    &kp SEMI

        &hm LCTRL A   &hm LALT R   &hm LGUI S   &hm LSHFT T   &kp G
        &kp M         &hm RSHIFT N  &hm RGUI E   &hm RALT I    &hm RCTRL O

        &kp X    &kp C    &kp D    &kp V    &kp Z      &kp K    &kp H    &kp COMMA &kp DOT &kp FSLH

        &mo symbols_layer  &kp SPACE  &mo nav_layer
        &mo numpad_layer   &kp SPACE  &kp ESC
      >;
    };
    numpad_layer {
      display-name = "Numpad Layer";
      bindings = <
        &none &none &none &none &none   &kp PLUS  &kp N1   &kp N2   &kp N3   &kp ASTRK
        &none &none &none &none &none   &kp MINUS &kp N4   &kp N5   &kp N6   &kp FSLH
        &none &none &none &none &none   &kp EQUAL &kp N7   &kp N8   &kp N9   &kp N0
      >;
    };
    symbols_layer {
      display-name = "Symbols Layer";
      bindings = <
        &kp AT      &kp HASH  &hm LSHFT F  &hm LSHFT P  &hm LSHFT B  &none  &hm RSHFT L  &none  &none  &kp FSLH

        &kp AMP     &kp PIPE  &kp ASTERISK &kp TILD  &kp PERC    &kp CIRC  &kp COLON  &kp DOLLAR &kp BSLH &kp GRAVE

        &kp QMARK   &kp UNDERSCORE &kp PLUS &kp MINUS &kp EQUAL &kp ASTERISK &kp FSLH &kp LT &kp GT &kp TILD
      >;
    };
    nav_layer {
      display-name = "Nav Layer";
      bindings = <
        &none &none &none &none &none      &none &none &none &none &none
        &none &none &none &none &none      &kp UP   &kp DOWN   &kp RIGHT   &kp LEFT   &none
        &none &none &none &none &none      &none &none &none &none &none
      >;
    };
  };
};
